<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <data>
        <!-- Root Menu -->
        <menuitem id="menu_hospital_root" name="Hospital"
                  action="action_all_patients"/>

        <!-- Patients Parent Menu -->
        <menuitem id="menu_hospital_patient" name="Patients" parent="menu_hospital_root"/>


        <!-- Children Patients -->
        <menuitem id="menu_children_patients" name="Children Patients" parent="menu_hospital_patient"
                  action="tushar_hospital.action_children_patients"/>

        <!-- Adult Patients -->
        <menuitem id="menu_adult_patients" name="Adult Patients" parent="menu_hospital_patient"
                  action="tushar_hospital.action_adult_patients"/>

<!--  Menu Item for Appointments-->
        <menuitem id="menu_hospital_appointment"
                  name="Appointments"
                  parent="menu_hospital_root"
                  action="action_hospital_appointment"
                  sequence="10"/>

        <menuitem id="menu_hospital_doctor"
                  name="Doctors"
                  parent="menu_hospital_root"
                  action="action_doctor"
                  groups="tushar_hospital.group_hospital_admin,tushar_hospital.group_hospital_doctor"
                  sequence="20"/>

<!--        <menuitem id="menu_hospital_doctor"-->
<!--                  name="Doctors"-->
<!--                  parent="menu_hospital_root"-->
<!--                  action="action_doctor"-->
<!--                  groups="tushar_hospital.group_hospital_admin,tushar_hospital.group_hospital_doctor"-->
<!--                  sequence="20"/>-->
<!--        -->
    </data>
</odoo>
